# circos.conf

karyotype = /data/bigexpansion/jcerca/013_ScalesiaGenome/03_circosplots/03_maskedSubgenomes_A_vs_B/02_circos/04_coloring/masked_scalesia_subgenomeA.color-coded.txt, /data/bigexpansion/jcerca/013_ScalesiaGenome/03_circosplots/03_maskedSubgenomes_A_vs_B/02_circos/04_coloring/masked_scalesia_subgenomeB.color-coded.txt

<ideogram>

<spacing>
default = 0.005r
</spacing>

radius    = 0.80r
thickness = 50p
fill      = yes

#label
show_label     = yes
label_font     = default
label_radius   = dims(ideogram,radius_outer) + 10p
label_size     = 24p
label_parallel = yes

</ideogram>

<links>

<link>
file          = /data/bigexpansion/jcerca/013_ScalesiaGenome/03_circosplots/03_maskedSubgenomes_A_vs_B/02_circos/04_coloring/filteredLinks_ColorCoded_ScalA_vs_ScalB.colour.txt
radius        = 0.95r
color         = black_a4

# Curves look best when this value is small (e.g. 0.1r or 0r)
bezier_radius = 0.1r
thickness     = 1

</link>

</links>


################################################################
# The remaining content is standard and required. It is imported
# from default files in the Circos distribution.
#
# These should be present in every Circos configuration file and
# overridden as required. To see the content of these files,
# look in etc/ in the Circos distribution.

<image>
# Included from Circos distribution.
<<include etc/image.conf>>
</image>

# RGB/HSV color definitions, color lists, location of fonts, fill patterns.
# Included from Circos distribution.
<<include etc/colors_fonts_patterns.conf>>

# Debugging, I/O an dother system parameters
# Included from Circos distribution.
<<include etc/housekeeping.conf>>
